.jumbotron {
  background: #000000;
  color: white;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #00eb2b;
}
.jumbotron .btn-primary:hover {
  background: #d40f0f;
}
.jumbotron p {
  color: #f7f7f7;
  max-width: 75%;
  margin: 1em auto 2em;
}
.jumbotron h1 {
  font-size: 40px;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #dedb3c;
  border-radius: 300%;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 300%;
}
